/** -----STYLE----- */
/** --colors-- */
:root {
  --color-main-1: #cefaf3;
  --color-main-1-25a: #cefaf340;
  --color-main-2: #70e1ce;
  --color-main-2-50a: #70e1ce80;
  --color-main-2-5a: #70e1ce0d;
  --color-main-3: #20474a;
  --color-main-4: #081b19;

  --color-secondary-1: #6af299;
  --color-secondary-1-90a: #6af299e6;
  --color-secondary-1-50a: #6af29980;
  --color-secondary-1-25a: #6af29940;
  --color-secondary-2: #51d676;
  --color-secondary-3: #114e40;

  --color-highlight-1: #eee6b2;
  --color-highlight-1-70a: #eee6b2b3;
  --color-highlight-1-25a: #eee6b240;
  --color-highlight-2: #8c7d4a;

  --color-other: #e13255;
  --color-other-40a: #e1325566;
  --color-other-25a: #e1325540;
  --color-other-10a: #e132551a;
}
/** --glow effect-- */
:root {
  --glow-blur-1: 10px;
  --glow-blur-2: 20px;

  --glow-main: 0 0 var(--glow-blur-1) 0 var(--color-main-1-25a);
  --glow-secondary: 0 0 var(--glow-blur-2) 0 var(--color-secondary-1-25a);
  --glow-highlight: 0 0 var(--glow-blur-2) 0 var(--color-highlight-1-25a);
  --glow-other: 0 0 var(--glow-blur-1) 0 var(--color-other-25a);
}
/** --border-- */
:root {
  --border-size: 2px;

  --border-main-2: var(--border-size) solid var(--color-main-2);
  --border-main-2-50a: var(--border-size) solid var(--color-main-2-50a);
  --border-main-4: var(--border-size) solid var(--color-main-4);
  --border-secondary-3: var(--border-size) solid var(--color-secondary-3);
}
/** --layout page grid-- */
:root {
  --layout-pg-padding: 0.75rem;
  --layout-pg-content-max: 60rem;
  --layout-pg-content: min(
    100% - var(--layout-pg-padding) * 2,
    var(--layout-pg-content-max)
  );
}
/** --font-- */
html {
  font-family: var(--ff-kode);
  font-size: 16px;
}
:root {
  --ff-kode: "Kode Mono", monospace;
  /** ---FONT WEIGHT--- */
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;

  /** ---FONT SIZE--- */
  --fs-h1: 6rem;
  --fs-h2: 5.5rem;
  --fs-h3: 2.25rem;
  --fs-h4: 2rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.25rem;
  --fs-rem: 1rem;
  --fs-tag: 0.875rem;

  /** ---FONT SIZE TYPE--- */
  --f-body: var(--fs-rem);
  --f-tag: var(--fs-tag);

  --f-hero: clamp(var(--fs-h3), 6.25vw + 1rem, var(--fs-h2));
  --f-title-1: clamp(var(--fs-h5), 1.255vw + 1rem, var(--fs-h4));
  --f-title-2: clamp(var(--fs-h6), 0.6275vw + 1rem, var(--fs-h5));
  --f-title-3: var(--fs-rem);
  --f-button: var(--fs-rem);
}
@media (width >= 800px) {
  :root {
    --f-hero: var(--fs-h2);
  }
}
@media (width >= 1275px) {
  :root {
    --f-hero: var(--fs-h1);
    --f-title-1: var(--fs-h4);
    --f-title-2: var(--fs-h5);
    --f-title-3: var(--fs-h6);
    --f-button: var(--fs-h6);
  }
}
/** --animation-- */
:root {
  --transition-delay-1: 300ms;
}

/** ---PUBLIC--- */
* {
  color: var(--color-main-2);
}

/** ---STYLE RESET--- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display-none {
  display: none;
}
.link-style-none {
  text-decoration: none;
  color: var(--color-main-2);
}
.button-style-none,
.button-style-none:active {
  border: none;
  border-style: none;
  background-color: transparent;
  box-shadow: none;
}
.ul-style-none {
  list-style-type: none;
}
.abbr-style-none {
  text-decoration: none;
}

/** ---FONT CLASS--- */
/** --Preset-- */
.f-hero {
  font-size: var(--f-hero);
  font-weight: var(--fw-b);
}
.f-title-l {
  font-size: var(--f-title-1);
  font-weight: var(--fw-b);
}
.f-title-m {
  font-size: var(--f-title-2);
  font-weight: var(--fw-sb);
}
.f-title-s {
  font-size: var(--f-title-3);
  font-weight: var(--fw-sb);
}
.f-body {
  font-size: var(--f-body);
  font-weight: var(--fw-r);
}
.f-button {
  font-size: var(--f-button);
  font-weight: var(--fw-r);
}
.f-tag {
  font-size: var(--f-tag);
  font-weight: var(--fw-r);
}
/** --Manual-- */
.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-h2 {
  font-size: var(--fs-h2);
}
.fs-h3 {
  font-size: var(--fs-h3);
}
.fs-h4 {
  font-size: var(--fs-h4);
}
.fs-h5 {
  font-size: var(--fs-h5);
}
.fs-h6 {
  font-size: var(--fs-h6);
}
.fs-rem {
  font-size: var(--fs-rem);
}
.fs-tag {
  font-size: var(--fs-tag);
}
.fw-r {
  font-weight: var(--fw-r);
}
.fw-m {
  font-weight: var(--fw-m);
}
.fw-sb {
  font-weight: var(--fw-sb);
}
.fw-b {
  font-weight: var(--fw-b);
}
.fd-i {
  font-style: italic;
}
.fd-u {
  text-decoration: underline;
}
.fd-o {
  text-decoration: overline;
}
.fd-s {
  text-decoration-line: line-through;
}
/* color */
.fc-main-1 {
  color: var(--color-main-1);
}
.fc-main-1-25a {
  color: var(--color-main-1-25a);
}
.fc-main-2 {
  color: var(--color-main-2);
}
.fc-main-2-50a {
  color: var(--color-main-2-50a);
}
.fc-main-2-5a {
  color: var(--color-main-2-5a);
}
.fc-main-3 {
  color: var(--color-main-3);
}
.fc-main-4 {
  color: var(--color-main-4);
}
.fc-secondary-1 {
  color: var(--color-secondary-1);
}
.fc-secondary-1-90a {
  color: var(--color-secondary-1-90a);
}
.fc-secondary-1-50a {
  color: var(--color-secondary-1-50a);
}
.fc-secondary-1-25a {
  color: var(--color-secondary-1-25a);
}
.fc-secondary-2 {
  color: var(--color-secondary-2);
}
.fc-secondary-3 {
  color: var(--color-secondary-3);
}
.fc-highlight-1 {
  color: var(--color-highlight-1);
}
.fc-highlight-1-70a {
  color: var(--color-highlight-1-70a);
}
.fc-highlight-1-25a {
  color: var(--color-highlight-1-25a);
}
.fc-highlight-2 {
  color: var(--color-highlight-2);
}
.fc-other {
  color: var(--color-other);
}
.fc-other-40a {
  color: var(--color-other-40a);
}
.fc-other-25a {
  color: var(--color-other-25a);
}
.fc-other-10a {
  color: var(--color-other-10a);
}

/** -----COMPONENT----- */
/** --logo button-- */
.logo-button {
  min-height: 4rem;
  width: fit-content;
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--border-main-2);
  border-bottom: var(--border-main-2);

  background-color: var(--color-main-2-5a);
  color: var(--color-main-2);

  transition: var(--transition-delay-1);
}
.logo-button:hover {
  background-color: var(--color-main-2-50a);
  color: var(--color-main-1);
  box-shadow: var(--glow-main);
}
.logo-button:active,
.logo-button.active {
  background-color: var(--color-highlight-1-70a);
  border-color: var(--color-highlight-1);
  color: var(--color-main-4);
  box-shadow: var(--glow-highlight);
}
@media (width < 800px) {
  .logo-button {
    width: auto;
  }
}
/** --FILTER button-- */
.nav-button {
  font-family: var(--ff-kode);
  min-height: calc(4rem - 4px);
  width: fit-content;
  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-main-2);

  transition: var(--transition-delay-1);
}
.nav-button:hover {
  background-color: var(--color-main-2-5a);
  color: var(--color-main-1);
}
.nav-button:active,
.nav-button.active {
  background-color: var(--color-highlight-1-70a);
  color: var(--color-main-4);
  box-shadow: var(--glow-highlight);
}
.nav-button:disabled,
.nav-button.disabled {
  background-color: var(--color-other-10a);
  color: var(--color-other-40a);
  cursor: default;
  pointer-events: none;
}
@media (width < 1155px) {
  .nav-button {
    min-height: calc(2rem - 2px);
  }
}
/** --Device button-- */
.device-button {
  min-height: 4rem;
  width: fit-content;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.3125rem;

  cursor: pointer;

  border-top: var(--border-main-2-50a);
  border-bottom: var(--border-main-2-50a);
}
.device-button > span {
  position: absolute;
  visibility: hidden;
}
.device-button-indicator {
  width: 2.5rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: var(--color-main-2-5a);

  transition: var(--transition-delay-1);
}
#device-button-pc {
  background-color: var(--color-highlight-1-70a);
  box-shadow: var(--glow-highlight);
}
input[type="checkbox"][id="device-button"]:checked
  + label.device-button
  #device-button-phone {
  background-color: var(--color-highlight-1-70a);
  box-shadow: var(--glow-highlight);
}
input[type="checkbox"][id="device-button"]:checked
  + label.device-button
  #device-button-pc {
  background-color: var(--color-main-2-5a);
  box-shadow: none;
}
.device-button-indicator .pop-up {
  color: var(--color-main-2);
  white-space: nowrap;

  position: absolute;
  bottom: -30px;
  padding: 0px 4px;
  border: var(--border-main-2-50a);

  background-color: var(--color-main-4);
  display: none;
}
.device-button-indicator:hover .pop-up {
  display: inline;
}
.device-button-indicator .icon {
  width: calc(1.25rem - 4px);
  height: calc(0.75rem - 4px);
}
#pc-icon {
  border: var(--border-main-4);
}
#phone-icon {
  rotate: 90deg;
  border: var(--border-main-2);
}
input[type="checkbox"][id="device-button"]:checked
  + label.device-button
  #phone-icon {
  border: var(--border-main-4);
}
input[type="checkbox"][id="device-button"]:checked
  + label.device-button
  #pc-icon {
  border: var(--border-main-2);
}
/** --tag-- */
.tag {
  min-width: 4rem;
  width: fit-content;
  padding: 0.375rem;
  text-align: center;
  text-wrap: balance;
  /* white-space: nowrap; */
  background-color: var(--color-secondary-1-90a);
  color: var(--color-main-4);
}
/** --Card button-- */
.card-button {
  border-left: var(--border-main-2);
  padding: 0.3125rem 1.25rem;
  background-color: var(--color-main-3);
  width: fit-content;
}
.card-button:hover {
  background-color: var(--color-main-2-50a);
  color: var(--color-main-1);
  box-shadow: var(--glow-main);
}
.card-button:active,
.card-button.active {
  background-color: var(--color-highlight-1-70a);
  color: var(--color-main-4);
  box-shadow: var(--glow-highlight);
}
.card-button:disabled,
.card-button.disabled {
  background-color: var(--color-other-10a);
  color: var(--color-other-40a);
}
/** --Card-- */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1rem;

  break-inside: avoid;

  /* background-color: rgba(255, 0, 0, 0.166); */
  width: 100%;
  /* margin-bottom: 3rem; */
}
.card section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  align-self: stretch;

  border: var(--border-main-2);
}
.card section > :not(*:last-child) {
  border-bottom: var(--border-main-2);
}
.card h2 {
  padding: 1rem 0.5rem;
  width: 100%;
  background-color: var(--color-main-2-5a);
}
.card section > img,
.card.image section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.card.project section > img {
  aspect-ratio: 16 / 9;
}
.card p {
  align-self: stretch;
  padding: 1rem 0.5rem;
}
.card ul {
  padding: 1rem 0.5rem;
  align-self: stretch;

  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.625rem;
}

/** --Scroll bar-- */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-secondary-3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-1-50a);
  border: var(--border-secondary-3);
  box-shadow: var(--glow-secondary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-highlight-1);
  box-shadow: var(--glow-highlight);
}
/* @supports (
  scrollbar-color: var(--color-secondary-1-50a) var(--color-secondary-3)
) {
  * {
    scrollbar-color: var(--color-secondary-1-50a) var(--color-secondary-3);
  }
} */

/** -----LAYOUT----- */
/** --Body-- */
body {
  background-color: var(--color-main-4);

  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
}
body::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1rem;
  width: calc(100% - 0.75rem * 2);
  height: 2px;
  background-color: var(--color-main-2);
}
@media (width > 800px) {
  body {
    max-height: 100vh;
  }
  body::after {
    width: calc(100% - 1rem * 2);
  }
}
@media (width > 1275px) {
  body {
    padding-bottom: 2rem;
  }
  body::after {
    bottom: 2rem;
    width: calc(100% - 1.5rem * 2);
  }
}
/** --Nav bar-- */
#nav-bar {
  min-height: calc(4rem - 4px);

  padding: 0 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1 0 0;
}
.filter-wrap {
  min-width: 18.5rem;

  container: filter-wrap / inline-size;
}
#nav-bar .filter-list {
  position: relative;
  min-height: 4rem;
  min-width: 18.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0 1.5rem;
  flex-wrap: wrap;

  border-top: var(--border-main-2-50a);
  border-bottom: var(--border-main-2-50a);
}

@container filter-wrap (width < 66rem) {
  #nav-bar .filter-list {
    gap: 0 0.5rem;
  }
}

@media (width <625px) {
  #nav-bar > .logo-button {
    flex: 1;
    min-width: fit-content;
  }
}
@media (width < 800px) {
  #nav-bar {
    padding: 0.75rem;
  }
  #nav-bar .filter-list {
    align-self: stretch;
  }
  #nav-bar > .logo-button {
    order: -1;
  }
  #nav-bar > .device-checkbox {
    order: -1;
  }
}
/** --main-- */
main {
  flex: 1;
}
@media (width > 800px) {
  main {
    overflow: auto;
  }
}

/** --Page grid-- */
.layout-page-grid {
  display: grid;
  grid-template-columns:
    [full-start]
    minmax(var(--layout-pg-padding), 1fr)
    [content-start]
    var(--layout-pg-content)
    [content-end]
    minmax(var(--layout-pg-padding), 1fr)
    [full-end];
  grid-template-rows:
    [content-start]
    1fr
    [content-end];
}
.layout-page-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
  grid-row: content;
}
.layout-page-grid > .full-width {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
}

/** -----HOME PAGE----- */
/** --Section hero-- */
#main-section-hero {
  padding: 3rem 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 2rem;
}
#main-section-hero > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
#main-section-hero h1 {
  text-wrap: balance;
}
/** --Section Card list-- */
#main-section-project-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
#main-section-project-list .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
