/** ---STYLE--- */
:root {
  /** ---COLORS--- */
  --color-main-1: #cefaf3;
  --color-main-1-25a: #cefaf340;
  --color-main-2: #70e1ce;
  --color-main-2-50a: #70e1ce80;
  --color-main-2-5a: #70e1ce0d;
  --color-main-3: #20474a;
  --color-main-4: #081b19;

  --color-secondary-1: #6af299;
  --color-secondary-1-90a: #6af299e6;
  --color-secondary-1-25a: #6af29940;
  --color-secondary-2: #51d676;
  --color-secondary-3: #114e40;

  --color-highlight-1: #eee6b2;
  --color-highlight-1-70a: #eee6b2b3;
  --color-highlight-1-25a: #eee6b240;
  --color-highlight-2: #8c7d4a;

  --color-other: #e13255;
  --color-other-40a: #e1325566;
  --color-other-25a: #e1325540;
  --color-other-10a: #e132551a;

  /** ---GLOW EFFECT--- */
  --glow-blur-1: 10px;
  --glow-blur-2: 20px;

  --glow-main: 0 0 var(--glow-blur-1) 0 var(--color-main-1-25a);
  --glow-secondary: 0 0 var(--glow-blur-2) 0 var(--color-secondary-1-25a);
  --glow-highlight: 0 0 var(--glow-blur-2) 0 var(--color-highlight-1-25a);
  --glow-other: 0 0 var(--glow-blur-1) 0 var(--color-other-25a);

  /** ---BORDER EFFECT--- */
  --border-main-2: 2px solid var(--color-main-2);
}

/** --font-- */
html {
  font-family: "Kode Mono", monospace;
  font-size: 16px;
}
:root {
  /** ---FONT WEIGHT--- */
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;

  /** ---FONT SIZE--- */
  --fs-h1: 6rem;
  --fs-h2: 5.5rem;
  --fs-h3: 2.25rem;
  --fs-h4: 2rem;
  --fs-h5: 1.5rem;
  --fs-h6: 1.25rem;
  --fs-rem: 1rem;
  --fs-tag: 0.875rem;

  /** ---FONT SIZE TYPE--- */
  --f-body: var(--fs-rem);
  --f-tag: var(--fs-tag);

  --f-hero: clamp(var(--fs-h3), 6.25vw + 1rem, var(--fs-h2));
  --f-title-1: clamp(var(--fs-h5), 1.255vw + 1rem, var(--fs-h4));
  --f-title-2: clamp(var(--fs-h6), 0.6275vw + 1rem, var(--fs-h5));
  --f-title-3: var(--fs-rem);
  --f-button: var(--fs-rem);
}

@media (width >= 800px) {
  :root {
    --f-hero: var(--fs-h2);
  }
}

@media (width >= 1275px) {
  :root {
    --f-hero: var(--fs-h1);
    --f-title-1: var(--fs-h4);
    --f-title-2: var(--fs-h5);
    --f-title-3: var(--fs-h6);
    --f-button: var(--fs-h6);
  }
}

/** ---PUBLIC--- */
* {
  /* reset */
  margin: 0;
  padding: 0;
}

/** ---FONT CLASS--- */

/** --Preset-- */
.f-hero {
  font-size: var(--f-hero);
  font-weight: var(--fw-b);
}
.f-title-l {
  font-size: var(--f-title-1);
  font-weight: var(--fw-b);
}
.f-title-m {
  font-size: var(--f-title-2);
  font-weight: var(--fw-sb);
}
.f-title-s {
  font-size: var(--f-title-3);
  font-weight: var(--fw-sb);
}
.f-body {
  font-size: var(--f-body);
  font-weight: var(--fw-r);
}
.f-button {
  font-size: var(--f-button);
  font-weight: var(--fw-r);
}
.f-tag {
  font-size: var(--f-tag);
  font-weight: var(--fw-r);
}

/** --Manual-- */
.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-h2 {
  font-size: var(--fs-h2);
}
.fs-h3 {
  font-size: var(--fs-h3);
}
.fs-h4 {
  font-size: var(--fs-h4);
}
.fs-h5 {
  font-size: var(--fs-h5);
}
.fs-h6 {
  font-size: var(--fs-h6);
}
.fs-rem {
  font-size: var(--fs-rem);
}
.fs-tag {
  font-size: var(--fs-tag);
}
.fw-r {
  font-weight: var(--fw-r);
}
.fw-m {
  font-weight: var(--fw-m);
}
.fw-sb {
  font-weight: var(--fw-sb);
}
.fw-b {
  font-weight: var(--fw-b);
}
.fd-i {
  font-style: italic;
}
.fd-u {
  text-decoration: underline;
}
.fd-o {
  text-decoration: overline;
}
.fd-s {
  text-decoration-line: line-through;
}
